 a {
	 color:#3399FF;
	 text-decoration:none;
 }
 a:hover{
	 color:red;
 }
 .center {
	text-align: center;
	displat:flex;
	justify-content: space-between;
	padding: 20px;
}
.title {
	text-align: center;
}
.music {
	float: left;
	width: 0px;
	padding: 10px;
}
